.container {
  width: 100%;
  height: 100vh;
  display: flex;
  border: 2px solid red;
}
main {
  width: 100%;
  overflow: auto;
  border: 4px solid green;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  background: rgb(0, 18, 25);
  color: #fff;
  transition: all 0.3s;
  position: sticky;
  top: 0;
  left: 0;
}

.top_section {
  display: flex;
  align-items: center;
  gap: 5px;
}

.top_section .logo {
  width: 50px;
}

.sidebar .nav_link {
  padding: 15px;
  text-align: center;
  color: aliceblue;
  display: flex;
  align-items: center;
  gap: 20px;
}

.sidebar .nav_link:hover {
  background-color: #383a43;
}
