.signup-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.signup-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.login-text {
  font-size: 12px;
  text-align: center;
  margin: 20px;
}

.login-text span {
  color: #00b3ff;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.submit-button {
  width: 100%;
  padding: 8px;
  background-color: #00afef;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #295b6d;
}
