* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef;
  color: #333;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  height: 500px;
  width: 1200px;
}

.loading-container p {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
